Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^(\.git|app|config|database|scripts|docker)(/|$) - [F,L]
  RewriteRule ^(Dockerfile|docker-compose\.yml|README\.md|\.dockerignore|\.gitignore)$ - [F,L]

  RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
  RewriteRule ^(.*)$ public/$1 [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ public/index.php [L]
</IfModule>
